.DS_Store
config.ini
**/build/
**/dist/
**/*.egg-info/
**/__pycache__/
*.pyc
progress/ui/__pycache__
progress/Results
progress/input.yaml
progress/.DS_Store
progress/Data
progress/logs
progress/Images/.DS_Store
progress/Images/.DS_Store
snl-progress.wiki